* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    color: greenyellow;
}
:root {
    --cell-size: 100px;
}
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: black;
    justify-items: center;
    align-content: center;
    font-family: cursive;
}
.container {
    display: grid;
    border: thin solid black;
    grid-template-columns: repeat(3, 1fr);
}
.grid-items {
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    place-items: center;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.border-right {
    border-right: medium solid indigo;
}
.border-bottom {
    border-bottom: medium solid indigo;
}
.o, .x {
    cursor: not-allowed;
}
.Winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(173, 255, 47, 0.9);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
.Winning-message div {
    width: fit-content;
    font-size: 40px;
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
}
.Winning-message button {
    font-size: x-large;
    padding: 10px 15px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    font-weight: 700;
}
.o::after {
    content: 'O';
    font-size: 40px;
    font-weight: 700;
}
.x::after {
    content: 'X';
    font-size: 40px;
    font-weight: 700;
}
p {
    margin-bottom: 30px;
}
.btn2 {
    margin-top: 30px;
    width: 100px;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    background-color: indigo;
    border-radius: 10px;
}
.player-x {
    display: inline-flex;
    padding: 10px;
}
.x-scores, .y-scores {
    width: fit-content;
    display: inline-block;
    font-weight: 900;
}